<md-content layout-xs="column" layout-gt-xs="row" layout-wrap>
  <question-list-item question="question"  flex-xs flex-gt-xs="50"
                      ng-repeat="question in vm.questions | orderBy: '-createdAt'"></question-list-item>
</md-content>
