<md-card>
  <md-card-title>
    <md-card-title-text>
      <a ui-sref="statistics({id: vm.question.$id})"><span class="md-headline">{{ vm.question.title }}</span></a>
      <span class="md-subhead">Created {{ vm.question.createdAt | readabledate }}</span>
    </md-card-title-text>
    <md-card-title-media ng-if="vm.question.imageUrl" >
      <img class="md-media-lg card-media" src="{{ vm.question.imageUrl}}"/>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-primary" ng-click="vm.vote()" ng-if="vm.selected!=null">
      <md-icon md-font-library="material-icons">check</md-icon>
      Save vote
    </md-button>
    <md-button class="md-warn" ng-click="vm.showConfirm()">
      <md-icon md-font-library="material-icons" >delete</md-icon>
      Delete
    </md-button>
    <md-button ui-sref="statistics({id: vm.question.$id})">
      <md-icon md-font-library="material-icons">insert_chart</md-icon>
      Statistics
    </md-button>
  </md-card-actions>
  <md-card-content>
    <md-radio-group ng-model="vm.selected" class="md-primary">
      <md-radio-button ng-repeat="option in vm.options"
                       ng-value="option.label">
        {{ option.label }}<br/>
      </md-radio-button>
    </md-radio-group>
  </md-card-content>
</md-card>
