<md-dialog aria-label="Create new question" ng-cloak style="min-width: 50%;">
    <form name="NewQuestionForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New question</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-font-library="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Title</label>
                        <input ng-model="vm.question.title" required>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model="vm.question.description" md-maxlength="150" rows="5"
                                  md-select-on-focus></textarea>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Image url</label>
                        <input ng-model="vm.question.imageUrl">
                    </md-input-container>
                </div>
                <div>
                    <label>Options</label>
                    <div layout="row" layout-wrap>
                        <md-input-container class="md-block" flex="50" ng-repeat="option in vm.options track by $index">
                            <label>Option #{{ $index }}</label>
              <textarea ng-model="option.label" columns="1"
                        md-maxlength="50" rows="1" aria-multiline="true"
                        aria-required="true"
                        aria-invalid="true" ng-trim="false"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.addNewOption()">
                Add new option
            </md-button>
            <md-button class="md-primary" ng-click="vm.create()" ng-disabled="NewQuestionForm.$invalid">
                Create Question
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
